@font-face {
  font-family: "SF Pro Display";
  src: url("C:/Windows/Fonts/SF Pro Display");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
  background-color: #cae5f8;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.satu {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #8acae6;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.item {
  padding: 25px;
}

.item:hover {
  background-color: #7cb5ce;
}

.container {
  display: none;
  cursor: pointer;
  position: absolute; /* Make sure the container is positioned relative to its parent */
  top: 15px; /* Adjust as needed */
  right: 45px; /* Adjust as needed */
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.dua {
  width: 100%;
  height: 10px;
  background-color: red;
}

.tiga {
  width: 100%;
  padding: 3px;
  color: red;
  background-color: white;
  font-size: 7px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.image-wrapper {
  width: 100vw;             /* Ambil full lebar viewport */
  overflow: hidden;         /* Sembunyikan bagian yang overflow */
}

#p {
  margin-bottom: 120px
}

section {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.id-card {
  width: 600px;
  height: 360px;
  margin: auto auto;
  /* background-color: #cae5f8; */
  background-color: #a3c7ea;
  background-image: url("img/profile-back.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  border: 3px solid #8acae6;
  border-radius: 10px;
}

.id-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.id-title h2 {
  margin-bottom: 0px;
}

.id-title h3 {
  margin-top: 0;
}

.id-isi {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 15px;
}

.id-details {
  padding: 10px 20px;
  text-align: left;
}

.id-details-isi {
  width: 1500px;
  padding: 10px 20px;
  text-align: left;
  padding-left: 0;
}

.id-details p,
.id-details-isi p,
.id-details-photo p {
  margin: 0;
  padding: 1.5px 0;
  font-size: 13.5px;
  font-weight: 600;
}

.id-details p.alamat {
  text-indent: 30px; /* Atur indentasi sesuai kebutuhan */
}

.id-photo {
  padding: 10px 0px;
  text-align: center;
}

.id-photo img {
  width: 60%;
  height: auto;
}

.signature img {
  width: 50%;
  height: auto;
}

.roadmap-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.milestone {
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

.milestone-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.milestone-content {
  padding: 10px;
  background-color: white;
  border: 3px solid #8acae6;
  border-radius: 10px;
}

.fa-graduation-cap {
  color: #f8e9a1;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -20px 0px 0px 0px;
}

.project {
  width: 300px;
  margin: 20px;
  background-color: white;
  border: 3px solid #8acae6;
  border-radius: 0px;
  padding: 20px;
}

.project:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  color: #333;
}

#landing {
  display: flex;
  align-items: center;
  padding-top: 150px;
}

.title {
  width: 100%;
  padding: 250px 0px 0px 0px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  /* background: linear-gradient(rgba(0, 0, 0, 0), #cae5f8, #cae5f8, #cae5f8, #cae5f8, #cae5f8, #cae5f8, rgba(0, 0, 0, 0)); */
  transform: translateY(-30%);
}

img {
  width: 80%;
}

.pindpk {
  position: absolute;
  top: 445px;
  left: 435px;
}

.info {
  display: none;
  position: absolute;
  top: 455px;
  left: 490px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.pindpk:hover + .info {
  display: block;
}

.background {
  position: absolute;
  z-index: -1;
  font-size: 100px;
  font-weight: bold;
  background-color: white;
}

.topground {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-size: 100px;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}

input {
  width: 400px;
  height: 40px;
  padding: 0px 15px;
  border: 3px solid #8acae6;
  border-radius: 0px;
  outline: none;
  font-family: "SF Pro Display";
  font-weight: bold;
}

textarea {
  width: 400px;
  height: 100px;
  padding: 15px 15px;
  border: 3px solid #8acae6;
  border-radius: 0px;
  outline: none;
  font-family: "SF Pro Display";
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.popup, .alert {
  display: none;
  position: fixed;
  z-index: 1000;
}
.popup {
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.alert {
  top: 20px;
  right: 20px;
  background: #4caf50;
  color: white;
  padding: 12px;
  border-radius: 4px;
}
.alert.error {
  background: #f44336;
}

button {
  width: 100px;
  height: 45px;
  padding: 0px 15px;
  color: white;
  background-color: #8acae6;
  border: 3px solid #8acae6;
  border-radius: 0px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px #666;
}

button:hover {
  background-color: #7cb5ce;
  border: 3px solid #7cb5ce;
}

button:active {
  box-shadow: 0 3px black;
  transform: translateY(3px);
}

.responsive {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #cae5f8;
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

/* @media only screen and (max-width: 1280px) {
  .responsive {
    display: flex;
  }
} */

@media only screen and (max-width: 1280px) {
  .background {
    position: absolute;
    z-index: -1;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 15px;
  }
  
  .topground {
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
    font-size: 70px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  span {
    display: block;
  }

  .map {
    width: 1000px;
    margin-left: -35%;
    align-self: center;
  }

  .menu {
    display: none;
    position: fixed;
    top: 0px; /* Adjust as needed */
    right: 70px; /* Adjust as needed */
    background-color: #8acae6;
    flex-direction: column;
    padding: 0px;
    z-index: 1000;
  }

  .menu.show {
    display: flex;
  }

  .container {
    display: inline-block;
    position: fixed; /* Make sure the container is fixed */
    top: 20px; /* Adjust this value to move it up or down */
    right: 25px; /* Adjust this value to move it left or right */
  }

  .id-card {
    width: 300px;
    height: 188px;
    margin: auto auto;
    /* background-color: #cae5f8; */
    background-color: #a3c7ea;
    background-image: url("img/profile-back.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    border: 3px solid #8acae6;
    border-radius: 10px;
  }

  .id-title h2 {
    margin-bottom: 0px;
    font-size: 11px;
  }
  
  .id-title h3 {
    margin-top: 0;
    font-size: 9px;
  }
  
  .id-isi {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .id-details {
    padding: 2px 5px;
    text-align: left;
  }
  
  .id-details-isi {
    width: 1500px;
    padding: 2px 5px;
    text-align: left;
    padding-left: 0;
  }
  
  .id-details p,
  .id-details-isi p,
  .id-details-photo p {
    margin: 0;
    padding: 1.5px 0;
    font-size: 7px;
    font-weight: 600;
  }
  
  .id-details p.alamat {
    text-indent: 15px; /* Atur indentasi sesuai kebutuhan */
  }
  
  .id-photo {
    padding: 5px 0px;
    text-align: center;
  }

  .project {
    width: 280px;
    margin: 10px;
    background-color: white;
    border: 3px solid #8acae6;
    border-radius: 0px;
    padding: 20px;
  }

  input {
    width: 70%;
    height: 40px;
    padding: 0px 15px;
    border: 3px solid #8acae6;
    border-radius: 0px;
    outline: none;
    font-family: "SF Pro Display";
    font-weight: bold;
  }
  
  textarea {
    width: 70%;
    height: 100px;
    padding: 15px 15px;
    border: 3px solid #8acae6;
    border-radius: 0px;
    outline: none;
    font-family: "SF Pro Display";
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
}
